body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background-image: url(../public/img/bgmovie.jpg);
  background-size: cover;
}

h1{
  font-size: 30px;
  color: yellow;
  text-align: center;
}

.scrHolder{
  padding-left: 200px;
}

.screen{
  
  border-bottom: 50px solid rgb(255, 159, 95);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 100;
  width:80%;
  filter: drop-shadow(4px 30px 20px rgba(255, 255, 255, 0.5));
  font-size: 25px;
  color: #fff;
}

.gheList{
  padding-left: 230px;
}

.seats{
  border: 3px solid orange;
  width: 45px;
  height: 35px;
  font-size: 12px;
  margin-left: 2%;
  margin-bottom: 1%;
  border-radius: 5px;
}

.rowNumber, th, td{
  /* font-size: 25px; */
  width: 45px;
  height: 35px;
  background: none;
  border:none;
  margin-left: 2%;
  margin-bottom: 1%;
  font-size: 30px;
  color: yellow;
  text-align: center;
}

#trangGH{
  padding-top: 50px;
}

.gioHang , .tongTien{
  background-color: #fff;
  width: 100%;
  height: 100px;
}


.gioHang th,.gioHang td , .tongTien th {
  width: 100px;
  color: black!important;
}


